.show-mobile {
	display: none !important;
}
@media screen and (max-width:980px) {
}
@media screen and (max-width:768px) {
}
@media screen and (max-width:680px) {
}
@media screen and (max-width:480px) {
	#social,
	nav#main,
	.hide-mobile,
	#staff-info .staff-meta img {
		display: none;
	}
	#hamburger,
	.show-mobile {
		display: block !important;
	}
	nav#mobile {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
		position: absolute;
		background: #002147;
	}
	nav#mobile div {
		margin: 30% 0 0 0;
	}
	nav#mobile div a {
		width: 100%;
		color: #fff;
		text-decoration: none;
		display: block;
		text-transform: uppercase;
		font-size: 18px;
		margin: 0 0 30px;
	}
		nav#mobile div a.go-gold {
			color: #FFD200;
			font-size: 14px;
		}
	a#shield {
		background-position: center center;
		height: 45px;
		margin: 0 auto;
		padding: 5%;
		position: relative;
		z-index: 9999;
		width: 40%;
		float: left;
		transition: 0.5s all;	
		
	}	
		a#shield.white-shield {
			background-image: url(../img/regis-shield.png);
		}
	body,
	p {
		font-size: 14px;
		text-align: center;
		line-height: 2;
	}
	.bio p {
		text-align: left;
	}
	h1, h2 {
		font-size: 18px;
		text-align: center;
		padding: 0 0 6px;
		margin: 15px 0;
		font-weight: bold;
	}
	h1 {
		border-bottom: 1px solid #052B48;
	}
	#content {
		margin: 0 auto;
		width: 90%;
		padding: 0 5%;
	}
	.pull-out {
		float: left;
		margin: 0 0 0 -5.5%;
		width: 111%;
	}
	.thirtythree {
		background-size: contain;
		width: 50%;
		height: 200px;
		margin: 0;
	}
	.thirtythree a {
		opacity: 0 !important;
	}
	#staff-info {
		width: 90%;
		margin-top: 3%;
		float: left;
		padding: 0 5%;
	}
	#modal-control #modal-close {
		width: 30px;
		height: 30px;
	}
	#modal-control {
		width: auto;
		margin: 0 6% 0 0;
	}
	#staff-info .staff-meta h4,
	#staff-info .staff-meta h5 {
		width: 100%;
		margin-top: 0;
		font-size: 24px;
	}
	#staff-info .staff-meta h5 {
		font-size: 18px;
		font-family: "Sentinel";
	}
	footer #regis-shield {
		background-image: none;
	}
	#hamburger {
		width: auto;
		float: right;
	  width: 30px;
	  height: 30px;
	  position: absolute;
	  z-index: 9999;
	  top: 1%;
	  right: 5%;
	/*   margin: 50px auto; */
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .5s ease-in-out;
	  -moz-transition: .5s ease-in-out;
	  -o-transition: .5s ease-in-out;
	  transition: .5s ease-in-out;
	  cursor: pointer;
	}
	
	body#home #hamburger span {
		background: #FFD200;
	}
	#hamburger span {
	  display: block;
	  position: absolute;
	  height: 3px;
	  width: 100%;
	  background: #002147;
	  border-radius: 9px;
	  opacity: 1;
	  left: 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
	}
	#hamburger.open span {
		background: #FFD200;
	}
	/* Icon 3 */
	
	#hamburger span:nth-child(1) {
	  top: 0px;
	}
	
	#hamburger span:nth-child(2),#hamburger span:nth-child(3) {
	  top: 9px;
	}
	
	#hamburger span:nth-child(4) {
	  top: 18px;
	}
	
	#hamburger.open span:nth-child(1) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
	}
	
	#hamburger.open span:nth-child(2) {
	  -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	}
	
	#hamburger.open span:nth-child(3) {
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}
	
	#hamburger.open span:nth-child(4) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
	}
}